.wrapper {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
  align-items: center;

  &__count {
    align-items: center;
    display: flex;
    column-gap: 10px;
    margin-right: auto;
    margin-left: 0;

    &__input {
      width: 100px !important;
    }
  }

  &__page {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #2B2D42;
    color: #E6E7E2;
  }

  img[alt='right-arrow'] {
    transform: rotate(180deg);
  }
}

.wrapper__page.active {
  border: 2px solid #92DCE5;
}
