.wrapper {
  width: 250px;
  border-right: 1px solid rgba(#2B2D42, 0.2);
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0 5px 30px;
    text-transform: capitalize;
    color: #2B2D42;

    &:hover {
      padding-left: 50px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      transform: translate(0, -50%) rotate(-45deg);
      left: 10px;
      top: 50%;
      border-right: 3px solid #2B2D42;
      border-bottom: 3px solid #2B2D42;
    }
  }
}
